
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
}

<div class="well">
    <h3>Prologue 1</h3>
    -- 
    <p>
        &emsp;Efendim, bir varmış bir daha yokmuş gibi(ümit edilen), zamanın evveliyatının içinde, ben(deniz) zat-ı şahaneleri, gıyabında, pek de gönlü razı olmadan, nisan doksanda aranıza teşrif etmiş bulunmaktayım.
        Devrik cümleleri, tırnak içinde söylüyorum sonra düzeltirim inancıyla yazmakta, yaptığım gramer hatalarından, ağdalı üslubumdan dolayı affınıza sığınmaktayım. Ağrılı sancılı dönemlerin yalnızca başlangıç dönemine özgü olduğunu düşünüyordum. Olmadı.
        Dünyaya geliş süreinde bilgilendirilmedim, rahatsızlığımı dile getirmek için uygun bir platform değil sanırım.  Makarayı biraz ileri saralım...
    </p>
</div>


