
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="well">
                <h3>Prolog</h3>
                <hr />
                <p>
                    &emsp;Efendim, bir varmış bir daha yokmuş gibi(ümit edilen), zamanın evveliyatının içinde, ben(deniz) zat-ı şahaneleri, gıyabında, pek de gönlü razı gelmeden, nisan doksanda aranıza teşrif etmiş bulunmaktayım.
                    Devrik cümleleri, tırnak içinde söylüyorum sonra düzeltirim inancıyla yazmakta, yaptığım gramer hatalarından, ağdalı üslubumdan dolayı affınıza sığınmaktayım.
                    <br />
                    <br />
                    &emsp;Ağrılı sancılı dönemlerin yalnızca başlangıca özgü olduğunu düşünüyordum. Özeleştiri veriyorum, yanıldım!
                    Dünyaya geliş sürecinde bilgilendirilmediğimden dolayı rahatsızlığımı dile getirmek için uygun bir platform değil sanırım. Fakat seçme şansım olsaydı bir daha bir daha düşünürdüm. Varoluş bahsini geçelim. Makarayı biraz ileri saralım...
                    <br />
                    <br />
                    - Kestik!.. Tekrar alalım beyler!
                </p>
                <br />
                <h3>Bölüm 1: Kıskaç</h3>
                <hr />
                <p>
                    &emsp;Okul, beni anneden kopartan ilk unsur oldu. Aşk olsun. Başarılı sayılabilecek iki yıllık bir eğitim dönemin ardından üçüncü sene sınıf öğretmeni değişti. Doktor Hanım, bu sebeple içime kapandım. İyi ki kapanmışım! Bundan sonraki evre, hezeyanların kader olarak biriktiği evredir. Buna genel anlamda hayat diyoruz.	Bence insanların keşfetme dürtüsü var. Karşı konulamaz bir dürtü. Her yeni bir bilgi yeni bilinmeyenler yığını halinde birikiyor. Farkındalıklarımızı gelecek nesillere aktarmakla mükellef, ete kemiğe dürünmüş bir DNA çiftiymişiz gibi geliyor bazen.
                </p>
                <br />
                <h3>Bölüm 2: Kıskanç</h3>
                <hr />
                <p>
                    &emsp; Fakat benim ilk çocuğum, ilk hocam, ilk yoldaşım 17 yaşım. Bunca sene teferruat, efendiler. 
                </p>
                <h3>Epilog</h3>
                <hr />
                <p>
                    Vesselam...
                </p>
                <br />
                <br />
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>



