
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
}

<div class="well">
    <h3>Prolog</h3>
    <hr />
    <p>
        &emsp;Efendim, bir varmış bir daha yokmuş gibi(ümit edilen), zamanın evveliyatının içinde, ben(deniz) zat-ı şahaneleri, gıyabında, pek de gönlü razı gelmeden, nisan doksanda aranıza teşrif etmiş bulunmaktayım.
        Devrik cümleleri, tırnak içinde söylüyorum sonra düzeltirim inancıyla yazmakta, yaptığım gramer hatalarından, ağdalı üslubumdan dolayı affınıza sığınmaktayım.
        <br />
        <br />
        &emsp;Ağrılı sancılı dönemlerin yalnızca başlangıca özgü olduğunu düşünüyordum. Özeleştiri veriyorum, yanıldım!
        Dünyaya geliş sürecinde bilgilendirilmediğimden dolayı rahatsızlığımı dile getirmek için uygun bir platform değil sanırım. Fakat seçme şansım olsaydı bir daha bir daha düşünürdüm. Varoluş bahsini geçelim. Makarayı biraz ileri saralım...
        <br />
        <br />
        - Kestik!.. Tekrar alalım beyler!
    </p>
    <br />
    <h3>Bölüm 1: Kıskaç</h3>
    <hr />
    <p>
        &emsp;Anneye olan düşkünlük büyülü bir madalyonun iki yüzü gibi bir beni ben yapan şeylerin nüvelerini içerirken bir de kendimi aşmada demirleyen en önemli etmenlerden... Bu hususta eğitim öğretim hayatımın ilk yılı bu kopuş ve yeni bir figür arayışı içinde geçti. Oldukça başarılı geçen ilk iki yılın ardından sınıf öğretmeni değişti. Üçüncü sınıf itibariyle içime kapandım doktor hanım. İyi ki kapanmışım. Bu hezayanı kendimden ve çevremdekilerden başka bir dünya olduğunu keşfetme ve bununla beraber etik değerleri kavramaya yönelik ilk adımları atarak fırsata çevirdiğime inanıyorum <blockquote>Hayat, hezeyanları fırsata çevirmekten ibaret olabilir. Emin değilim.</blockquote>
    </p>
</div>


