
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
}

<div class="jumbotron">
    <div class="container text-center">              
    </div>
    <blockquote>
        Bütün insanlar doğal olarak bilmek isterler
    </blockquote>  
</div>